body {
    font-family: sans-serif;
}

header {
    background-color: peachpuff;
    padding: 5px;
}

header p {
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    display: inline-block;
    margin-left: 15px;
    font-size: 32px;
}

h1 {
    text-align: center;
    font-size: 40px;
}

ul {
    list-style: url(https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg);
}

h2

footer p {
    background-color: whitesmoke;
    padding: 5px;
}
